body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.row {
    display: flex;
    width: 960px;
}

.box {
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1;
}